In [1]:
#print 0 to 20 by using range

for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
#print range 10 to 20

for num in range ( 10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [19]:
#print number of items in the list by using 'len'

lists=[10,20,14,55,43,87,76]
print(lists)
print('number of item in the lists:',len(lists))

[10, 20, 14, 55, 43, 87, 76]
number of item in the lists: 7

In [24]:
#

text="Artificial Intelligence"
for char in text:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [32]:
name=('parthiban')
print("-your name-",name)
age=24
print("-your age-",age)
profession=('student')
print("-your profession-",profession)

-your name- parthiban
-your age- 24
-your profession- student

In [39]:
#print this mixered datatype using tuples

tuples=(1,'welcome',2, 'hope')
print(tuples)

(1, 'welcome', 2, 'hope')

In [52]:
#tuples

tup1=(0,1,2,3,4)
tup2=('python','hope')
tup3=(tup1),(tup2)
print(tup3)

((0, 1, 2, 3, 4), ('python', 'hope'))

In [110]:
#print odd number in the list

lists=[20,10,16,19,25,1,276,188]
for num in lists:
    if (num%2)==1:
        print(format(num),"is odd")

19 is odd
25 is odd
1 is odd

In [111]:
# print even number in the lists

lists=[20,10,16,19,25,1,276,188]
for num in lists:
    if (num%2)==0:
        print(format(num),"is even")

20 is even
10 is even
16 is even
276 is even
188 is even